# Modules needed to run scripts in this directory
tzlocal>=1.5,<2.0
# until bitbox02 is released it must be installed from py/bitbox02
bitbox02
requests
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
